* {
    font-family: 'ZCOOL XiaoWei', serif;
}

body {
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.navbar {
    background: #78c2ad;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    padding: 10px;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover,
.navbar-brand:hover {
    background: #666;
    color: #78c2ad;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    /* background: #666 !important; */
    background-color: #666;
}


/* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
} */

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1 {
    color: #78c2ad;
}

.description p {
    /* color: #666; */
    color: white;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button {
    border: 1px solid #78c2ad;
    background: #78c2ad;
    color: #fff;
    width: 170px;
    height: 60px;
    margin: 5px;
    text-align: center;
    /* overflow: hidden; */
}

.description button:hover {
    color: #78c2ad;
}

.description button a {
    color: white;
}

.description button a:hover {
    color: #78c2ad;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #78c2ad;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.about span {
    display: block;
    color: white;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #78c2ad;
    /* color: #78c2ad */
}

.about .desc h3 {
    color: #78c2ad;
    /* padding-top: 0px; */
}

.about .desc p {
    line-height: 2;
    color: #67d1b3;
    font-weight: bold;
    font-size: 25px;
}

/*Portfolio*/
.portfolio {
    margin: 4em 0;
    position: relative;
}

.portfolio h1 {
    color: #78c2ad;
    margin: 2em;
}

.portfolio h4, h5 {
    text-align: center;
    color: #78c2ad;
    font-size: bold;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
}

.portfolio a {
    color: teal;
    text-align: center;
    color: #78c2ad;
    padding: 10px;

}

.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #78c2ad;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #6bd1b4;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}